/* ********************* Thêm nhân viên mới ******************* */
.tmnv-main {
    width: 100%;
}
.tmnv-title {
    text-align: center;
    padding: 8px 0;
    background: #5582F8;
}
.tmnv-title h1 {
    font-size: 32px;
    font-weight: 400;
    color: white;
}
.right-inf-tmnv,
.left-inf-tmnv {
    padding-left: 64px;
    padding-top: 20px;
}
.label-name{
    font-size: 18px;
    font-weight: 600;
    padding-top: 14px;
}
.inp-tmnv{
    width: 400px;
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #333;
}
.btn-tmnv{
    float: right;
}
.text-xacnhan-tmnv{
    padding: 10px 22px;
    background-color:#61E8E0;
    border-radius: 10px;
    border: none;
}

.text-xacnhan-tmnv:hover{
    background-color: #CFEFED
    ;
}

/* ********************* Thêm mới khen thưởng ******************* */

.tnv, .mnv, .ngkt, .ld, .ctkt, .email, .mk{
    font-size: 26px;
    font-weight: 600;
    padding-top: 14px;
}

.ip-tnv, .ip-mnv, .ip-ngkt, .ip-ld, .ip-email, .ip-mk{
    width: 400px;
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #333;
}
.ip-ngkt{
    opacity: 0.8;
}
.ip-ctkt {
    width: 400px;
    height: 40px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #333;
    color: transparent
  }
.ip-ctkt::-webkit-file-upload-button {
    visibility: hidden;
  }
.ip-ctkt::before {
    content: 'Chọn tệp';
    color: rgba(0, 0, 0, 0.45);
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 1px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
    margin-left: 14px;
    margin-top: 8px;
    position: absolute;
}
.ip-ctkt:hover::before {
    border-color: black;
}
.ip-ctktt:active {
    outline: 0;
}
.ip-ctkt:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}

.btn-xacnhan-tmkt{
    position: fixed;
    bottom: 10%;
    left: 85%;
}

.text-xacnhan{
    padding: 10px 22px;
    background-color:#428BCA;
    border-radius: 10px;
    border: none;
}

.text-xacnhan:hover{
    background-color: #A5CDEF;
}

/* ********************* Thêm mới chức vụ ******************* */

.tmcv-main {
    width: 100%;
}
.tmcv-title {
    text-align: center;
    padding: 8px 0;
    background: #5582F8;
}
.tmcv-title h1 {
    font-size: 32px;
    font-weight: 400;
    color: white;
}
.left-inf {
    padding-left: 16px;
    padding-top: 20px;
}
.label-name-tmcv{
    font-size: 26px;
    font-weight: 500;
    padding-top: 14px;
}
.inp-tmcv{
    width: 450px;
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #333;
}
.btn-tmcv{
    position: fixed;
    bottom: 10%;
    left: 85%;
}
.text-xacnhan{
    padding: 10px 22px;
    background-color:#428BCA;
    border-radius: 10px;
    border: none;
}

.text-xacnhan:hover{
    background-color: #A5CDEF;
}
/* ********************* Sửa chức vụ ******************* */
.scv-main {
    width: 100%;
}
.scv-title {
    text-align: center;
    padding: 8px 0;
    background: #5582F8;
}
.scv-title h1 {
    font-size: 32px;
    font-weight: 400;
    color: white;
}
.label-name-scv{
    font-size: 26px;
    font-weight: 500;
    padding-top: 14px;
}
.btn-scv{
    position: fixed;
    bottom: 10%;
    left: 85%;
}
/* ********************* Thêm mới phòng ban ******************* */
.tmpb-main {
    width: 100%;
}
.tmpb-title {
    text-align: center;
    padding: 8px 0;
    background: #5582F8;
}
.tmpb-title h1 {
    font-size: 32px;
    font-weight: 400;
    color: white;
}
.label-name-tmpb{
    font-size: 26px;
    font-weight: 500;
    padding-top: 14px;
}
.btn-tmpb{
    position: fixed;
    bottom: 10%;
    left: 85%;
}
/* ********************* Sua phòng ban ******************* */
.spb-main {
    width: 100%;
}
.spb-title {
    text-align: center;
    padding: 8px 0;
    background: #5582F8;
}
.spb-title h1 {
    font-size: 32px;
    font-weight: 400;
    color: white;
}
.btn-spb{
   position: fixed;
   bottom: 10%;
   left: 85%;
}
.label-name-spb{
    font-size: 26px;
    font-weight: 500;
    padding-top: 14px;
}


/* ********************* Thêm mới khoa ******************* */
.tmk-main {
    width: 100%;
}
.tmk-title {
    text-align: center;
    padding: 8px 0;
    background: #5582F8;
}
.tmk-title h1 {
    font-size: 32px;
    font-weight: 400;
    color: white;
}
.label-name-tmk{
    font-size: 26px;
    font-weight: 500;
    padding-top: 14px;
}
.btn-tmk-2{
    position: fixed;
    bottom: 10%;
    left: 85%;
}
/* ********************* Thêm mới khoa ******************* */
.sk-main {
    width: 100%;
}
.sk-title {
    text-align: center;
    padding: 8px 0;
    background: #5582F8;
}
.sk-title h1 {
    font-size: 32px;
    font-weight: 400;
    color: white;
}
.label-name-sk{
    font-size: 26px;
    font-weight: 500;
    padding-top: 14px;
}
.btn-sk{
    position: fixed;
    bottom: 10%;
    left: 85%;
}
/* ********************* Thêm mới trạng thái ******************* */
.tmtt-main {
    width: 100%;
}
.tmtt-title {
    text-align: center;
    padding: 8px 0;
    background: #5582F8;
}
.tmtt-title h1 {
    font-size: 32px;
    font-weight: 400;
    color: white;
}
/* ********************* Thêm mới tài khoản ******************* */
.tmtk-main {
    width: 100%;
}
.tmtk-title {
    text-align: center;
    padding: 8px 0;
    background: #5582F8;
}
.tmtk-title h1 {
    font-size: 32px;
    font-weight: 400;
    color: white;
}


/* ********************* Sửa tài khoản ******************* */
.stk-main {
    width: 100%;
}
.stk-title {
    text-align: center;
    padding: 8px 0;
    background: #5582F8;
}
.stk-title h1 {
    font-size: 32px;
    font-weight: 400;
    color: white;
}
/* *********** Hiển thị password ********** */
.container-pw{
    position: relative;
    height: 55px;
    width: 320px;
    border-radius: 5px;
  }
  .container-pw input{
    width: 450px;
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #333;
  }
  .container-pw input::placeholder{
    font-size: 17px;
  }
  .container-pw span{
    position: absolute;
    left: 130%;
    top: 50%;
    transform: translateY(-68%);
    font-size: 20px;
    color: #8e44ad;
    cursor: pointer;
    display: none;
  }
  .container-pw input:valid ~ span{
    display: block;
  }
  .container-pw span i.hide-btn::before{
    content: "\f070";
  }
/* ******* Modal xóa  ******  */
.modal-delete{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: flex;
    display: none;
}
.modal-delete.open{
    display: flex;
}
.modal-container-delete{
    background-color: #fff;
    height: 254px;
    width: 517px;
    border-radius: 10px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.5s;
}
.modal-text-delete{
    text-align: center;
}
.modal-text-delete h2{
    font-size: 24px;
    font-weight: 400;
    padding-top: 65px;
}
.modal-text-delete-2 h2{
    font-size: 30px;
    font-weight: 400;
    padding-top: 30px;
    text-align: center;
}
.icon-successfull-delete-2 img{
    padding-left: 214px;
    padding-top: 40px;
}
.modal-buttons{
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.cancel-btn,
.confirm-btn{
    font-size: 30px;
    color: #fff;
    width: 50%;
    height: 100px;
}
.confirm-btn{
    background-color: #83B8EA;
    border: none;
    border-radius: 0px 0px 0px 10px;
}
.cancel-btn{
    background-color: #F06868;
    border: none;
    border-radius: 0px 0px 10px 0px;
}
.confirm-btn:hover{
    background-color: #BACAD9;
}
.cancel-btn:hover{
    background-color: #DBABAB;
}


@keyframes modalFadeIn {
    from{
        opacity: 0;
        transform: translateY(-140px);

    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
