/* ********************* Thêm nhân viên mới ******************* */
.tmnv-main {
    width: 100%;

}


.tmnv-title {
    text-align: center;
    padding: 8px 0;
    background: #5582F8;
}


.tmnv-title h1 {
    font-size: 32px;
    font-weight: 400;
    color: white;
    
}

