*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.text-header{
    text-align: center;
    margin-top: 5%;
}
/* .container{
    border: 1px #ccc solid;
    padding: 16px;
    max-width: 1138px !important
} */
.container-content-1{
    display: flex;
}


.text-content {
    color: #333;
    text-transform: uppercase;
    margin-left: 34px;
    line-height: 41px;
    font-weight: 400;
    font-size: 18px;
}
.image{
    width: 254px;
    height: 254px;
    background-color: #ccccccc1;
}
.image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
}
.name_and_img{
    width: 24%;
    margin-left: 20px;
}
.container-form-1
{
    width: 100%;
    margin-left: 12%;
    margin-top: 2%;
    
}

.container-form-2
{
    margin-top: 5%;
    margin-left: 100px;
}
.container-form label{
    font-size: 20px;
}
.form-1, .form-2,
.form-3, .form-4, .form-5 {
    margin: 14px 0;
}
.label-1 {
    margin-left: -13px;
}
.label-2 {
    margin-left: 67px;
}
.label-3 {
    margin-left: 1%;
}
.label-4 {
    margin-left: 92px;
}
.label-5 {
    margin-left: 46px;
}
.label-6 {
    margin-left: 54px;
}
.label-7 {
    margin-left: 28px;
}

.label-8 {
    margin-left: 78px;
}
.label-9 {
    margin-left: 14px;
}
.label-10 {
    margin-left: 104px;
}
.label-11 {
    margin-left: 14px;
}
.label-12 {
    margin-left: 107px;
}
.fname {
    width: 28%;
    padding: 5px 15px;
    background-color: #e2eced;
    border: solid 1px #ccc;
    outline: none;
}
.btn-info{
    margin-top: 24px;
    margin-left: 24px;
}

.btn-info .update-avt
{   
    color: #000;
    background-color: aqua;
    padding: 10px 16px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin: 0 16px;
}

.change-password {
    padding: 10px 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: aqua;
    display: flex;
    float: right;
    opacity: 1;
    transition: 0.3s; 
}
.update-avt:hover,
.change-password:hover {
    background-color: #C2DDF5;
}


/*************** Update ảnh ****************/
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: flex;
    display: none;
}
.modal.open{
    display: flex;
}
.modal-container{
    background-color: #fff;
    height: 254px;
    width: 517px;
    border-radius: 10px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.5s;
}
.modal-close{
    position: absolute;
    top: 0;
    right: 0;
    color: #333;
    padding: 12px;
    cursor: pointer;
}
.modal-close:hover{
    color: #000;
    opacity: 1;
    background-color: #ccc;
}

.Update-successful {
    text-align: center;
}
.icon-successfull img{
    padding: 16px;
    width: 73px;
    height: 73px;
   
}

.text-dmk span{
    margin-top: 2px;
    font-family: 'Inter';
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
}
.footer-Update-successful{
    /* background-color: #83B8EA;
    height: 82px;
    border-radius: 0 0px 10px 10px; */
    margin-top: 24px;
}
.confirm{
    font-size: 32px;
    width: 517px;
    height: 100px;
    padding: 10px 12px;
    margin-top: 17px;
    background-color: #83B8EA;
    border: none;
    opacity: 1;
    transition: 0.3s;
    border-radius: 0 0px 10px 10px; 
}

.confirm:hover {opacity: 0.6}

@keyframes modalFadeIn {
    from{
        opacity: 0;
        transform: translateY(-140px);

    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}